/* Define light theme variables */
:root {
  --background-color: #f4f7fe;
  --text-color: #000;
  --card-background: #ffffff; /* Light mode search background color */
}

/* Define dark theme variables */
[data-theme="dark"] {
  --background-color: #0b1337;
  --text-color: #FFF;
  --card-background: #101c44; /* Dark mode search background color */
}

/* Apply theme variables */
.App {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out; /* Add a transition effect to the App container */
  display: flex;
  overflow-y: hidden;
  min-height: 100vh;
}

/* Sidebar styling */
.sidebar {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px; /* Normal width for larger screens */
  background-color: var(--card-background);
  min-height: 100vh;
  position: fixed;
  left: -250px; /* Hide sidebar initially */
  top: 0;
  transition: left 0.3s ease, width 0.3s ease;
  text-decoration: none;
  z-index: 1000;
}

.sidebar.show {
  left: 0; /* Show sidebar when active */
}

.sidebar.collapsed {
  width: 60px; /* Collapsed width for smaller screens */
  left: 0;
}

.cancel-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 24px;
}

.sidebar.show .cancel-button {
  display: block;
}

.sidebar.collapsed .cancel-button {
  display: none;
}

.navbar-nav {
  flex-direction: column; /* Stack nav items vertically */
  width: 100%;
}

.nav-item {
  width: 100%; /* Full width for each nav item */
}

.nav-link {
  padding: 12px 16px; /* Adjust padding */
  display: flex; /* Flex to align items */
  align-items: center; /* Center icon and text vertically */
  color: var(--text-color);
}

/* Hide text on small screens and show on larger screens */
.nav-link span {
  display: none; /* Hide text by default */
}

/* Show text only on large screens */
@media (min-width: 992px) {
  .nav-link span {
    display: inline; /* Show text on large screens */
  }
}

/* Ensure text is hidden when sidebar is collapsed */
.sidebar.collapsed .nav-link span {
  display: none; /* Hide text when sidebar is collapsed */
}

/* Main content styling */
.main-content-container {
  flex: 1; /* Take the remaining space */
  transition: margin-left 0.3s ease;
  margin-left: 250px; /* Margin for normal sidebar width */
}

.main-content-container.collapsed {
  margin-left: 60px; /* Reduced margin-left for collapsed sidebar */
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .sidebar {
    width: 60px; /* Collapsed width on smaller screens */
  }

  .main-content-container {
    margin-left: 60px; /* Adjust main content margin for collapsed sidebar */
  }
}
